.art-container {
  position: relative;
  width: 100%;
  height: 1200px; /* Adjust based on your layout */
  padding: 10px;
}

.image-tile {
  position: absolute;
}

.image-tile img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-tile img {
  transition: transform 0.3s ease;
}
.image-tile img:hover {
  transform: scale(1.05);
}
