.film-hero {
  background-image: url('/Images/socialnetwork.png');
  background-attachment: fixed; /* This enables the parallax effect */
  background-size: cover;
  background-position: center;
  color: white;
  text-align: left;
  padding: 6rem 4rem;
  font-family: 'Georgia', serif;
  height: 60vh;

  display: flex; /* fixed this from "auto" */
  flex-direction: column;
  justify-content: center;
}

.film-hero h1 {
  font-size: 2.5rem;
  margin: 0;
  font-weight: 700;
}

.film-hero h2 {
  font-size: 2rem;
  font-style: italic;
  margin: 0.5rem 0 2rem;
}

.film-hero button {
  background-color: #e74c3c;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}

.review-section {
  padding: 3rem 4rem;
  background-color: #fff;
  color: #000;
}

.review-section h2 {
  margin-top: 0rem;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: 'Georgia', serif;
}

.favorites-section {
  padding: 3rem 4rem;
  background-color: #fff;
  color: #000;
}

.favorites-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: 'Georgia', serif;
}

.favorites-grid {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.favorites-card {
  width: 200px;
  text-align: center;
}

.favorites-card img {
  width: 100%;
  border-radius: 5px;
}

.favorites-card h3 {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
}

.review-grid {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.review-card {
  width: 200px;
  text-align: center;
}

.review-card img {
  width: 100%;
  border-radius: 5px;
}

.review-card h3 {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
}