.home-container {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeede8; /* light warm background */
  min-height: 100vh;
}

.home-container h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
  margin-right: 95rem;   /* shift right */
  margin-bottom: 0.5rem;
}

.about-section {
  margin-top: -28rem;
  margin-bottom: 10rem;
  max-width: 800px;
  padding: 1rem;
  text-align: left;
}

.about-header {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.about-text {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}
