.home-container {
    display: flex;
    background-color: #ffffffd8;
    width: 100vw; /* full viewport width */
    height: 100vh; /* full viewport height */
}

.about-section {
    width: 630px;
    margin-top: 20vh; 
    margin-left: 10vh;
    font-size:1rem;
    text-align: left;
}

.about-text {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.about-heading {
  font-size: 2.3rem;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 1rem;
  color: #111;
}

.profile-block {
  display: flex;
  flex-direction: column;
  align-items: center; /* center image and name */
  margin: 2rem;
  margin-left: 15vh; /* moves it to the left */
  margin-top: 30vh; /* moves it down */
}

.profile-image {
  height: auto;
  width: 300px; /* fixed width for square crop */
  object-fit: cover; /* ensures square crop */
  border-radius: 4px; /* optional: round corners */
}

.name {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 1rem;
  text-align: center;
}

.full-width-image {
  width: 100vw;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 1.5rem 0 0 0;
  padding: 0;
}