.home-container {
    display: flex;
    background-color: #eeede8;
    width: 100vw; /* full viewport width */
    height: 100vh; /* full viewport height */
}

.about-section {
    margin-top: 25vh; 
    font-size:1rem;
    text-align: center;
}

.about-header {
    font-size: 2rem;
    font-weight: 600;

}

.about-text {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
}

.profile-block {
  display: flex;
  flex-direction: column;
  align-items: center; /* center image and name */
  margin: 2rem;
}

.profile-image {
  width: 220px;
  height: 220px;
  object-fit: cover; /* ensures square crop */
  border-radius: 12px; /* optional: round corners */
  margin-top: 25vh; /* moves it down vertically */
}

.name {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 1rem;
  text-align: center;
}