.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 8px;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}
.topbar {
  background-color: #f2f2f2d8; /* match your page background */
  border-bottom: none;       /* remove line if it's default */
  box-shadow: none;          /* remove if shadow is being added */
}