/* VideoIntro.css */

.video-intro {
  margin-left: -95rem; /* Moves the entire image container to the left */
}
.intro-image {
  width: 100%;
  max-width: 800px;
  border-radius: 12px;
  margin-top: 2rem;
  margin-right: 0rem;
}
