/* VideoIntro.css */

.video-intro {
  transform: translateX(-12rem);
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

.intro-image {
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
}